html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  font-style: normal;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  margin: 24px 60px 58px 43px;
  justify-content: space-between;
}
.menu_1,
.menu_2 {
  color: #000000;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.menu_2 .menu__item {
  margin-right: 30px;
}
.menu__item {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  padding-bottom: 6px;
  border-bottom: 2px transparent solid;
  transition: 0.2s;
}
.menu__item:hover,
.menu__item.active {
  border-bottom: 2px #e51937 solid;
  color: #e51937;
}
.item1 {
  margin-right: 63px;
}
.item2 {
  margin-right: 24px;
}
.item3 {
  margin-right: 44px;
}
.item4 {
  margin-right: 46px;
}
.tesla_title {
  text-align: center;
  background-repeat: no-repeat;
  background-image: url(../images/Tesla\ logo\ +\ car.png);
  min-height: 594px;
  background-size: cover;
}
.tesla_title h1 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
}
.tesla_title p {
  margin: 0;
  position: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.tesla_info {
  display: flex;
  justify-content: space-evenly;
}
.info_block {
  display: flex;
  align-items: center;
  margin-top: 26px;
  width: 142px;
  height: 77px;
}
.info_block_img1,
.info_block_img2 {
  width: 46px;
  /* height: 100%; */
  margin-right: 14px;
}
.info_block_text1 {
  /* font-style: normal;*/
  font-size: 35px;
  font-weight: 600;
  line-height: 43px;
  margin-right: 6px;
  /* margin-bottom: 13px;*/
}
.info_block_text1 span {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  vertical-align: middle;
}
.info_block_text2 {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}
.test_drive {
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.test_drive img {
  margin-right: 7px;
}

.order {
  font-weight: bold;
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
}
.order__link {
  padding: 5px 40px 5px 40px;
  border: 2px solid #e51937;
  text-decoration: none;
  color: red;
}
.go_bottom {
  text-align: center;
  display: block;
  margin-top: 39px;
}
.main {
  margin-top: 37px;
  color: #fff;
}
.main__inner {
  background-image: url(../images/2013-tesla-model-s-cockpit.png);
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: c;
  width: 100%;
}
.left-section {
  margin-left: 80px;
}

h2 {
  font-size: 70px;
  min-width: 262px;
  line-height: 85px;
  color: #e51937;
}
.right-section {
  width: 440px;
  height: 840px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e51937;
  padding: 20px 0px 0px 52px;
}
.main-top {
  margin-top: 20px;
  padding-right: 72px;
}
.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
}
.text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding-right: 20px;
}
.main-botton {
  display: flex;
  justify-content: center;
  margin-bottom: 76px;
}
.features {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  padding-right: 125px;
}
.features-img {
  align-self: center;
  margin-right: 20px;
}
.features-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
.features-accent {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  margin-right: 10px;
}
.features-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

.information {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 27px;
}
.information img {
  align-self: center;
  margin-right: 10px;
}
.information a {
  text-decoration: none;
  color: #fff;
}
.inverse__button {
  border: 1px solid #fff;
  padding: 5px 40px;
  color: #fff;
  border-color: #fff;
}
.benefits__info {
  background-color: #e51937;
  color: #fff;
  width: 30%;
  padding: 50px 40px 30px 52px;
}
.benefits__top {
  max-width: 316px;
  margin-top: 12px;
}
.benefits__center {
  margin-top: 49px;
}
.benefits__center-list {
  padding: 0;
  margin-top: 29px;
}
.benefits-items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  list-style: none;
  align-items: center;
}
.benefits__items-text {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  padding-right: 69px;
}
.benefits__bottom {
  /* width: 330px; */
  display: flex;
}
.benefits__bottom-img {
  width: 62px;
  margin-right: 23px;
}
.benefits__bottom-title {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  margin: 0;
}
.benefits__bottom-text {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}
.benefits__bottom-inner {
  margin-top: 60px;
}
